.icon-bp-buildings, .icon-bp-calculator, .icon-bp-card, .icon-bp-folder {
	width: 32px !important;
	height: 32px !important;
	vertical-align: bottom;
}
.icon-bp-card { background-image: url(card.png); }
.icon-bp-folder { background-image: url(folder.png); }
.icon-bp-calculator { background-image: url(calculator.png); }
.icon-bp-buildings { background-image: url(buildings.png); }
